textarea
  resize:none
input
  border-radius 10px
  box-shadow 5px 5px 5px gray
  margin 10px
.chatRoom
  background-color #99FF66
  width 100%
  height 600px
  border-radius 10px
.roomName
  position fixed
  top 10px
  left 60px
  margin 0px
  color black
.roomName label
  color green
.messages
  position fixed
  top 30px
  left 20px
.messages .messagesText
  background-color #FFF
  border-radius 10px
  min-width 300px
  min-height 500px
  box-shadow 5px 5px 5px gray
  overflow auto
.createMessage
  margin-left 10px
  margin-top 15px
  border-radius 5px
  margin-bottom 15px

.userList 
  position fixed
  top 30px
  left 340px
.userList
  background-color #FFF
  border-radius 10px
  min-width 150px
  min-height 500px
  box-shadow 5px 5px 5px gray
.userList label
  margin-left 36px
  margin-top 10px
  margin-bottom -10px
.games
  position fixed
  top 30px
  left 550px
.gameBrowser
  padding-top 20px
  text-align center
.gameBrowser .gameList
  background-color #FFF
  border-radius 10px
  min-width 100px
  min-height 250px
  box-shadow 5px 5px 5px gray
  overflow auto
.gameBrowser label
  padding-left 10px
  padding-bottom 10px
.createGame
  text-align center
  margin-top 20px
.gameButtons
  position: fixed
  top 560px
  left 380px
.launchButton
  display inline-block
  margin-top 15px
.leaveGame
  margin-left 100px
  position relative
  margin-top -22px
.gameTitle
  cursor pointer
  padding 5px
  border 1px solid black
  border-radius 5px
  box-shadow 5px 5px 5px gray
  margin 5px
.selected
  background-color #3083D6
  padding 5px
  



