.gameWindow
  background-color #99FF66
  border-radius 5px
  min-height 500px
.gameAge
  position absolute
  top 480px
  left 20px
.gameOptions
  position absolute
  top 20px
  left 20px
  display inline-block
.endTheGame
  position absolute
  top 500px
  left 20px
#map_container
  display inline-block
  margin-top 20px
  margin-left 250px
  border-radius 5px
  background-color #FFFFFF
  padding 10px
  box-shadow 5px 5px 5px gray
.gamePlayers
  margin 5px
.player
  margin 4px 
  margin-top 6px
  margin-right 6px
  border-radius 5px
  box-shadow 5px 5px 5px gray
.gamePlayersTitle
  margin-left 50px
  margin-right 50px
.scoreTitle
  margin-left 15px
.score
  margin-left 20px
  border-left solid 1px black
  padding-left 10px
.clicksLeft
  padding-left 20px
.click
  color red
  font-style bold
  font-size large