.gameWindow
  background-color #99FF66
  border-radius 5px
  min-height 600px
.gameAge
  position absolute
  top 480px
  left 20px
.gameOptions
  position absolute
  top 20px
  left 20px
  display inline-block
.endTheGame
  position absolute
  top 500px
  left 20px
#map_container
  display inline-block
  margin-top 20px
  margin-left 250px
  border-radius 5px
  background-color #FFFFFF
  padding 10px
  box-shadow 5px 5px 5px gray
#map_container:hover
  cursor pointer
.gamePlayers
  margin 5px
.player
  border-radius 5px
.playerDiv
  margin 4px 
  margin-top 10px
  margin-right 6px
  border-radius 5px
  display inline
  box-shadow 5px 5px 5px gray
.gamePlayersTitle
  margin-left 50px
  margin-right 50px
.scoreTitle
  margin-left 15px
.score
  position absolute
  display inline
  width 25px
  right 4px
  text-align right
  border-radius 5px
  box-shadow 5px 5px 5px gray
  padding-right 10px
  background-color white
.clicksLeft
  padding-left 20px
.click
  color red
  font-size x-large