<template name="chatRoom">
  <div class="chatRoom" id="{{roomName}}ChatRoom">
    <div class="loginButtons">
      {{loginButtons}}
    </div>
    <h4 class="roomName"><label>Room: </label>{{roomName}}</h4>
    <div class ="messages" id="{{roomName}}Messages">
      <div class="messagesText">
        {{#each messages}}
          {{>message}}
        {{/each}}
      </div>
      <br>
      <div class="createMessage">
        <input id="chatMessage" type="text"/>
        <button id="sendChat">Send</button>
      </div>
    </div>
    {{> userList}}
    
    {{#if gameRoom}}
      {{>gameRoom}}
    {{/if}}

    {{#unless gameRoom}}
       <div class="games">
        {{> stats}}
        <div class="gameBrowser">
          <label>Games Waiting For Players: </label>
          <br>
          <div class="gameList" id="{{roomName}}GameList">
            {{#each gameList}}
                {{> game}}
            {{/each}}
          </div>
          <br>
          <button id="joinGame">Join</button>
        </div>
        <div class="createGame">
          <label>Game Name:</label>
          <br>
          <input class="newGameName"type="text"/>
          <br>
          <button id="createGame">Create</button>
        </div>
      </div>
    {{/unless}}
  </div>
</template>
<template name="game">
  <div class="gameTitle {{selected}}" id="{{title}}Game"> 
    {{title}} 
  </div>
</template>

<template name="message">
  <div class="message">
    <span class="messageUserName">
      {{messageUserName}} : 
    </span>
    <span class="messageText">
      {{messageText}}
    </span>
<!--     <span class="messageTime">
      {{messageTime}} ago
    </span> -->
  </div>
</template>

<template name="userList">
  <div class ="userList">
    {{#each users}}
      {{>user}}
    {{/each}}
  </div>
</template>

<template name="user">
  <div class="user">{{name}}
  </div>
</template>

<template name="gameRoom">
  <div class = "gameButtons" id="{{title}}GameButtons">
    {{#if ownersGame}}
      <div class="gridSize">
        <span>Grid Size: </span>
        <input class="gridSizeInput" type="number" value="10"/> 
      </div>
      <div class="launchButtonDiv">
        <button class="launchGame">Launch Game </button>     
      </div>
    {{/if}}
    <div class="leaveGameDiv">
      <button class="leaveGame">Leave Game</button>
    </div>
  </div>
</template>