<template name="gameWindow">
  <div class="gameWindow">
    <div class="gameAge">Current Game Turn Is {{age}}</div>
    <div class="gameOptions">
      <div class="clicksLeft"> You Have <span class="click">{{clicks}}</span> Clicks Left</div>
      <div class="gamePlayers">
          <div><span class="gamePlayersTitle" > Players </span> <span class="scoreTitle">Score</spam></div>
          {{#each names}}
            <div class = "playerDiv">
              <span class="player" style="background-color: {{color}}"> {{name}} </span>
            </div>
            <div class="score">
              <span >{{score}}</span>
            </div>
            <br>
            <br>  
          {{/each}}

      </div> 
      <div class="endTheGame">
        <button class="endGame">Leave Game</button>
      </div>  
    </div>
    <div id="map_container">
    </div>
  </div>
</template>
