<head>
  <title>imagine-worlds</title>
</head>

<body>
  {{> master}}
</body>

<template name ="master">
  {{#if currentUser}}
    {{#unless inGame}}
      {{>chatRoom}}
    {{/unless}}
    {{#if inGame}}
      {{>gameWindow}}
    {{/if}}  
  {{/if}}
  {{#unless currentUser}}
    {{>welcome}}
  {{/unless}}
</template>
<template name = "stats">
  <div class="stats">
    <label>Total Users: {{totalUsers}}</label>
    <br>
    <label>Games Played: {{gamesPlayed}}</label>
    <br>
    <label>Games Running: {{gamesRunning}} </label>
  </div>
</template>

<template name = "welcome">
  <h3 class="welcome">Welcome Please Login To Begin: </h3>
  <div class="loginButtons">
    {{loginButtons}}
  </div>
</template>


