<head>
  <title>imagine-worlds</title>
</head>

<body>
  <header class="header">
  </header>
  {{> master}}
</body>

<template name ="master">
  {{#if currentUser}}
    {{#unless inGame}}
      {{>chatRoom}}
    {{/unless}}
    {{#if inGame}}
      {{>gameWindow}}
    {{/if}}  
  {{/if}}
  {{#unless currentUser}}
    {{>welcome}}
  {{/unless}}
</template>

<template name = "welcome">
  <h3 class="welcome">Welcome Please Login To Begin: </h3>
  <div class="loginButtons">
    {{loginButtons}}
  </div>
</template>


