<head>
  <title>imagine-worlds</title>
</head>

<body>
  <header class="header">
  </header>
  {{> master}}
</body>

<template name ="master">
  {{#if currentUser}}
    {{#unless inGame}}
      {{>chatRoom}}
    {{/unless}}
    {{#if inGame}}
      {{>gameWindow}}
    {{/if}}  
  {{/if}}
  {{#unless currentUser}}
    {{>welcome}}
  {{/unless}}
</template>
<template name = "welcome">
  <div class= "welcomeHeader">
    <div class="control"> Control </div>
    <div class="your">  Your </div>
    <div class="pixelEmpire"> Pixel Empire!</div>
  </div>
  <div class="welcomeloginButtons">
    <div>
      {{loginButtons}}
    </div>
  </div>
  <div class="frontPageWindow">
    <div class="images image1">
        <img src="gameshot1.png"/>
        <div class="clickText">Click</div>
    </div>
    <div class="images image2">
        <img src="gameshot2.png"/>
        <div class="expand">Expand</div>
    </div>
    <div class="images image3">
        <img src="gameshot3.png"/>
        <div class="pixelFight">Pixel Fight!</div>
    </div>
  </div>
</template>



